/* About, Contact, Home, Machine, MarketResearch, Music */

html,body {
  height:100%;
  margin: 0;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  font-family: 'Play', sans-serif;
}

a {
  padding: 20px;
  text-decoration: none;
  color: #FFF;
}

.name {
 color: #26aee9;
}

.companies {
  width: 250px;
}

.card .card-image img {
  /*border-radius: 50%;*/
  padding: 10px;
  height: 96px;
}

.cardIcons {
  display: inline-block;
  /*border-radius: 50%;*/
  /*width: 100px;*/
  top: 5px;
  padding: 2px;
}

.btn-font {
  font-size: 9px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
}

.border {
  padding: 20px;
  background: #111;
  color: #fff;
} 

.section {
  text-align: center;
  padding: 50px 80px;
}  

.section-light {
  background: #ffffff;
  color: #666
}  

.section-dark {
  background:#282e34;
  color: #ddd;
}  

/* About */

.about_container {
    display: flex;
    overflow: hidden;
    height: 50vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.Left {
    width: 12.5rem;
}

.pannel_title {
  color: #26aee9;
}


.Middle {
    flex: 1;
}

.Right {
    width: 12.5rem;
}

.school {
  color: #26aee9;
  display: inline-block;
}

.school a {
  color: currentColor;
}

.school_year {
  font-size: 12px;
  display: inline-block;
  margin-left: -10px;
}

.degree {
  display: block;
}

.about_table {
  text-align: start;
  margin: auto auto;
}

.bands {
  color: #1e90ff;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6 {
  position: relative;
  opacity: 0.90;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('assets/landing.jpeg');
  min-height: 100vh;
  

}
.pimg2 {
  background-image: url('assets/about.jpeg');
  min-height: 400px;
  

}
.pimg3 {
  background-image: url('assets/machine.jpeg');
  min-height: 400px;
  

}
.pimg4 {
  background-image: url('assets/mr.jpeg');
  min-height: 400px;
  

}
.pimg5 {
  /*background-image: url('https://images.pexels.com/photos/499324/pexels-photo-499324.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');*/
  background-image: url('assets/bm.jpg');
  min-height: 400px;
  

}
.pimg6 {
  background-image: url('assets/contact.jpeg');  
  min-height: 400px;
  opacity: .8;
}

@media(max-width:568px) {
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6 {
    background-attachment: scroll;
  }
}

/* Nielsen, digitas, BHP, TiVo, Carat, Boni */

.container {
/*   font-family: 'Play', sans-serif;
 */  background: #050505;
  color: #ffffff;
  line-height: 20px;
  padding: 200px;
}

.category {
  color: #fdc930;
}

.logo_Images {
  background: #ffffff;
  height: 200px;
}

#nielsen_title {
  color: #26aee9;
}

#digitas_title {
  color: #b60811;
}

#bhp_title {
  color: #562505
}

#tivo_title {
  color: #38b230;
}